<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>

  {{!-- Bootstrap --}}
  <link href="/assets/supplemental/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  {{!-- Font Awesome --}}
  <link href="/assets/supplemental/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  {{!-- Main CSS --}}
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

  {{!-- LineMaker CSS --}}
  <link rel="stylesheet" type="text/css" href="/assets/supplemental/lineMaker/decolines.css">


  {{{addCSS}}}
</head>

<body>

  {{{body}}}

  {{!-- JQuery --}}
  <script src="/assets/supplemental/jquery/jquery.js"></script>
  {{!-- Bootstrap --}}
  <script src="/assets/supplemental/bootstrap/js/bootstrap.min.js"></script>
  {{!-- JQuery Easing Plugin --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>


  {{!-- Main JS --}}
  <script src="/assets/js/main.js" /></script>

  <script src="/assets/supplemental/anime/anime.min.js"></script>
  <script src="/assets/supplemental/lineMaker/lineMaker.js"></script>
  <script>
      (function() {
      var homeLines = new LineMaker({
        lines: [
          {top: '14%', left: 0, width: '100%', height: 2, color: '#ddd', hidden: true, animation: { duration: 1000, easing: 'easeInOutExpo', delay: 0, direction: 'LeftRight' }},
          {top: '85%', left: 0, width: '100%', height: 2, color: '#ddd', hidden: true, animation: { duration: 1000, easing: 'easeInOutExpo', delay: 100, direction: 'RightLeft' }}
        ]
      });
      var allLines = new LineMaker({
        position: 'fixed',
        lines: [
          {top: 0, left: '90%', width: 2, height: '100%', color: '#252525', hidden: true, animation: { duration: 1000, easing: 'easeInOutExpo', delay: 200, direction: 'TopBottom' }},
          {top: 0, left: '10%', width: 2, height: '100%', color: '#252525', hidden: true, animation: { duration: 1000, easing: 'easeInOutExpo', delay: 300, direction: 'TopBottom' }},
          {top: 0, left: '25%', width: 2, height: '100%', color: '#252525', hidden: true, animation: { duration: 1000, easing: 'easeInOutExpo', delay: 300, direction: 'TopBottom' }},
          {top: 0, left: '75%', width: 2, height: '100%', color: '#252525', hidden: true, animation: { duration: 1000, easing: 'easeInOutExpo', delay: 300, direction: 'TopBottom' }}
        ]
      });
      
      setTimeout(function() {
        homeLines.animateLineIn(0, {
          complete: function() { lineMaker.showLine(0); }
        });
        homeLines.animateLineIn(1, {
          complete: function() { lineMaker.showLine(1); }
        });
      }, 100);

      setTimeout(function() {
        allLines.animateLineIn(0, {
          complete: function() { lineMaker.showLine(0); }
        });
        allLines.animateLineIn(1, {
          complete: function() { lineMaker.showLine(1); }
        });
        allLines.animateLineIn(2, {
          complete: function() { lineMaker.showLine(1); }
        });
        allLines.animateLineIn(3, {
          complete: function() { lineMaker.showLine(1); }
        });
        allLines.animateLineIn(4, {
          complete: function() { lineMaker.showLine(1); }
        });
        allLines.animateLineIn(5, {
          complete: function() { lineMaker.showLine(1); }
        });
        allLines.animateLineIn(6, {
          complete: function() { lineMaker.showLine(1); }
        });
        allLines.animateLineIn(7, {
          complete: function() { lineMaker.showLine(1); }
        });
        allLines.animateLineIn(8, {
          complete: function() { lineMaker.showLine(1); }
        });
      }, 100);
    })();


  </script>

  {{{addJS}}}
  
</body>

</html>
